@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  padding: 20px;
  margin-top: 64px; /* Adjust based on the AppBar height */
}
